// import newer Bootstrap stuffs

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
.collapsing.collapse-horizontal {
  width: 0;
  height: auto;
  transition: width 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing.collapse-horizontal {
    transition: none;
  }
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}
.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.75rem;
  height: 1.75rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.75rem;
  transition: transform 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}
.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion-item:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion-body {
  padding: 1rem 1.25rem;
}

.accordion-flush .accordion-collapse {
  border-width: 0;
}
.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.accordion-flush .accordion-item:first-child {
  border-top: 0;
}
.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
}
.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
}

#content aside {
  @media (max-width: 767.98px) {
    margin-top: 2rem;
  }
}

#content h3.accordion-header {
  margin: 0 !important;
  padding: 0 !important;

  &::before {
    display: none !important;
    margin-top: 0 !important;
    height: auto !important;
    visibility: hidden;
  }
}

#content h3 button.accordion-button {
  font-size: 2.25rem;
  font-weight: 500;
}

#content h3 .accordion-button:not(.collapsed) {
  background-color: #f9f7fb;
  color: #548;
}

#content #jump--links,
#content #filter--links {
  margin-top: 1rem;
}

#content ul {
  list-style: none;
  margin: 0 0 0;
  padding: 0;
}

#content ul li {
  margin-bottom: 1rem;
}

  #content ul li:last-child { margin-bottom: 0; }

#content h6,
#content li.is--empty {
  padding-left: 5px;
}

#content h6.accordion-subheader {
  font-size: 18px;
  font-weight: 600;
}

#content li a {
  background-color: transparent;
  border-radius: 5px;
  color: #6b4fbb;
  display: block;
  font-size: 16px;
  padding: 5px;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

#content li a:hover {
  background-color: #f9f7fb;
  color: #6b4fbb;
}

#content li a em {
  color: #666;
  font-size: 14px;
  font-style: normal;
}

#content li a:hover em { text-decoration: none; }

#content li.is--empty {
  color: #666;
  font-size: 14px;
}

#content label {
  display: block;
  font-size: 1.5rem;
}

#content select,
#content input[type="text"] {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: calc(.25rem - 1px);
  box-shadow: none;
  display: block;
  font-size: 16px;
  margin-bottom: 2.5rem;
  padding: 10px;
  width: 100%;
}

#content input[type="text"] {
  margin-top: 1rem;
}

#content.jobs--bucket {
  margin-top: 3rem;
}

ul#openings {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  height: 300px;
  overflow: scroll;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

ul#openings li { margin-bottom: 0.5rem; }
