---
title: GitLab Technical Certifications- Self-Paced Options
suppress_header: true
description: "GitLab Technical Certifications- Self-Paced Options"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Technical Certifications - Self-Paced Options
    %h2.headline-subtitle
      Convenient asynchronous option to validate and showcase your GitLab skills

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab Technical Certifications - Self-Paced Options

        %h3 Overview
        %p As of April 2021 GitLab began offering the GitLab wider community with a self-paced option to several of our popular <a href= '/learn/certifications/public/#technical-certifications-overview'> GitLab Technical Certifications</a> through the <a href= 'https://gitlab.edcast.com'>GitLab Learn site</a>.
 
        %h3 Interested in Async Certification? 
        %p Create an account on <a href= 'https://gitlab.edcast.com'>GitLab Learn</a> and select one of the available certification pathways below to get started.
        %ul
          %li <a href= 'https://gitlab.edcast.com/pathways/cy-test-pathway-associate-study-exam'> GitLab Certified Associate Pathway</a>
          %li <a href= 'https://gitlab.edcast.com/pathways/gitlab-certified-ci-cd-specialist-pathway'> GitLab Certified CI/CD Specialist Pathway</a>
          %li <a href= 'https://gitlab.edcast.com/pathways/gitlab-certified-project-management-specialist-pathway'> GitLab Certified Project Management Specialist Pathway</a>
          %li <a href= 'https://gitlab.edcast.com/pathways/gitlab-certified-security-specialist-pathway'> GitLab Certified Security Specialist Pathway</a>
          %li <a href= 'https://gitlab.edcast.com/pathways/gitlab-certified-innersourcing-specialist-pathway'> GitLab Certified InnerSourcing Specialist Pathway</a>
          %li <a href= 'https://gitlab.edcast.com/journey/gitlab-certified-devops-professional-journey'> GitLab Certified DevOps Professional Journey</a>
          
        %h3 What's Included
        %p Each certification bundle includes everything needed to complete the <a href= '/learn/certifications/public/#certification-requirements'> certification requirements:</a>
        %ul
          %li Self-Study eLearning
          %li Knowledge Exam
          %li Hands-on Exam
          %li Access to the GitLab Demo Cloud for hands-on work
          %li Project submission and grading
          %li Shareable completion badge in the GitLab Learn site
          %li Shareable <a href='https://badgr.com/public/issuers/-xEvQBmzSqWCZoK-flKruw/badges'>Badgr</a> digital verification of certification status and date

 
        %h3 Pricing and Payment
        %p GitLab Technical Certification bundles are priced at USD $650 and includes the following components.
        %ul
          %li Self-Study certification preparation eLearning: USD $150
          %li Knowledge Exam: USD $150
          %li Hands-On Exam: USD $350
        %p During the enrollment process on <a href= 'https://gitlab.edcast.com'> GitLab Learn</a> users can use a credit card or discount code as the payment method. Users will then be able to access the bundle.

 
= partial "includes/services-contact-form"

